@use './vars';

.SectionMenu {
    width: 375px;
    height: 100%;
    background-color: var(--black-opacity);
    position: fixed;
    left: 0;
    top: 60px;
    bottom: 0;

}

.ToggleMobileMenu {
    width: 560px;
    height: 610px;
    padding: 24px;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0.01px;
    bottom: 0;
    border: 1px solid var(v-very-light-pink);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: white;
    }
.ToggleMobileMenu ul {
 	list-style: none;
 	padding: 0;
 	margin: 0;
 }
 .categories {
     height: 50%;
     font-size: var(--lg);
     font-weight: bold;
     line-height: 40px;
 }
 .categories a{
     text-decoration: none;
     color: black;
 }
 .account {
     height: 25%;
     font-size: var(--lg);
     font-weight: bold;
     display: flex;
     align-items: center;
     line-height: 40px;
 }
 .account a {
    text-decoration: none;
    color: black;
 }
 .signout {
     height: 25%;
     display: flex;
     align-items: flex-end;
     line-height: 35px;
 }
.signout a {
    font-weight: bold;
    color: var(--hospital-green)
}
 

 

@media (max-width: 640px) {
	.ToggleMobileMenu {
		width: 70%;
	}
}